<!DOCTYPE html>
<html lang='en_US'>
  <head>
    <title><%= "#{@item[:title]} - " if @item[:title] %><%= @site.config[:title] %></title>

    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1' />
    <% if @item[:description] %><meta name="description" content="<%= @item[:description] %>" /><% end %>
    <% if @item[:tags] %><meta name="keywords" content="<%= @item[:tags].join(", ") %> /><% end %>

    <link rel="alternate" type="application/atom+xml" title="<%= @site.config[:title] %> Feed" href="<%= @items['/atom/'].path %>" />
    <link rel="canonical" href="<%= @site.config[:base_url] %>" />
    <link rel="author" href="https://plus.google.com/+SamStelfox31337/"/>

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="<%= ['article', 'blog', 'website'].include?(@item[:type]) ? @item[:type] : 'website' %>" />
    <meta property="og:title" content="<%= @item[:title] || @site.config[:title] %>" />
    <meta property="og:url" content="<%= @site.config[:base_url] + @item.path %>" />
    <meta property="og:site_name" content="<%= @site.config[:title] %>" />
    <meta property="article:publisher" content="https://www.facebook.com/sstelfox" />
    <meta property="og:image" content="<%= @site.config[:base_url] %>/static/avatar-01.jpg" />

    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Alegreya+SC:700" />
    <link rel="stylesheet" href="<%= @items['/styles/root/'].path %>" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-32188490-1', 'stelfox.net');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header class='masthead'>
      <div class='masthead-inner'>
        <h1><a href='<%= @items["/"].path %>' title='Home'>Sam Stelfox</a></h1>
        <p class='lead'>Thoughts from a systems hacker and developer.</p>
        <nav>
          <ul>
            <li><a href="<%= @items["/about/"].path %>" title="About">About</a></li>
            <li><a href="<%= @items["/blog/"].path %>" title="Blog">Blog</a></li>
            <li><a href="<%= @items["/knowledge_base/"].path %>" title="Knowledge Base">Knowledge Base</a></li>
            <li><form action="/search/" method="get"><input type="search" name="q" placeholder="Search" /></form></li>
          </ul>
        </nav>
        <footer class='colophon'>
          <p>&copy; 2014, All rights reserved.</p>
        </footer>
      </div>
    </header>
    <div class='content container'>
      <div class='post'>
        <h1><%= @item[:title] %></h1>
        <span class='post-date'><%= pretty_time_tag(@item) %></span>
        <article>
          <%= yield %>
        </article>
      </div>
    </div>
  </body>
</html>
