<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= "#{@item[:title]} - " if @item[:title] %><%= @site.config[:title] %></title>
    <% if @item[:description] %>
    <meta name="description" content="<%= @item[:description] %>">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="<%= @site.config[:title] %> Feed" href="<%= @items['/atom/'].path %>" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="<%= @items['/styles/root/'].path %>" />
    <script src="<%= @items['/javascripts/modernizr/'].path %>"></script>
  </head>
  <body>
    <div class='row'>
      <div class='col-2'>
        <ul>
          <li><%= link_to("Blog", @items["/blog/"]) %></li>
          <li><%= link_to("Tags", @items["/tags/"]) %></li>
        </ul>
      </div>
      <div class='col-9'>
        <%= yield %>
      </div>
    </div>

    <script src="<%= @items['/javascripts/root/'].path %>"></script>
    <script type="text/javascript">
      // UA-32188490-1
      var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-XXXXX-X"]);_gaq.push(["_trackPageview"]);
      (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;
      e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+
      ".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];
      t.parentNode.insertBefore(e,t)})()
    </script>
  </body>
</html>
